@media (min-width: 768px) {
body{
	padding-top: 100px;
}
}
@media (max-width: 767px) {
body{
	padding-top: 150px;
}
}
.navbutton{
	color: #ffffff;
	font-size: 1.2em;
	padding-bottom: 8px;
}
.navbutton span{
	padding-left: 1px;
}
